* {
	margin: 0;
	padding: 0;
	font-family: Calibri, ans-serif;;
	font-size: 10px;
}

section.hidden {
	display: none;
}

.background {
	background: linear-gradient(180deg, #0099ae, #00bf82 100%, #fff 0, #fff);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

.aut {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	position: absolute;
}

.autorisation-container {
	padding: 10px;
	background: white;
	margin: auto;
	max-width: 300px;
	border-radius: 10px;
}

#login, #password {
	width: 95%;
	background-color: #CFF2DF;
	border: none;
	border-radius: 5px;
	height: 30px;
	margin-top: 10px;
	font-size: 1.6rem;
	padding: 5px;
}

.autorisation label {
	font-size: 2rem;
}

.enter-cont {
	text-align: center;
}

.enter {
	margin: 10px;
	border-radius: 5px;
	border: none;
	padding: 5px;
	cursor: pointer;
	font-size: 2.5rem;
    margin: 5px auto;
    appearance: none;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background: #00c49d;
    transition: .15s;
    border-radius: 4px;
    visibility: visible;
    box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
    cursor: pointer;
    border: 0;
}

.enter:hover {
	background: #00c2b2;
}

.logo {
	font-size: 4rem;
	text-align: center;
	cursor: pointer;
}

.input-container {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.input-container label {
	cursor: pointer;
	margin-bottom: 5px;
}

label.reg-label {
	margin-right: 10px;
	font-size: 1.5rem;
}

label.ent-label {
	font-size: 1.5rem;
}

.input-container input {
	margin-top: 3px;
	margin-right: 5px;
}

.game-container {
	display: flex;
	height: 100%;
	width: calc(100% - 100px);
	flex-wrap: wrap;
	padding: 50px;
	justify-content: space-around;
}

.canvas, .interface {
	background: white;
	border-radius: 10px;
	border: 5px solid black;
	padding: 30px;
	margin-top: 40px;
}

.interface {
	max-height: 500px;
}

.interface label, .interface input {
	font-size: 1.6rem;
}

.interface h3 {
	text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 10px;
}

.interface p {
	font-size: 1.6rem;
	margin-bottom: 10px;
}

.interface input {
	width: 60px;
	background: #CFF2DF;
	border: none;
	border-radius: 5px;
	padding: 3px;
	margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.help {
    border: 1px solid;
    border-radius: 5px;
    background: #F9D2D2;
    color: #EB1414;
    padding: 3px;
    transition: 0.2s;
    font-size: 1.4rem;
}

.vissible {
    opacity: 0;
}

.canvas-game {
	border: 3px solid red;
	border-radius: 5px;
}